<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>VeeValidate サンプル</title>
  <link type="text/css" rel="stylesheet" href="assets/css/index.min.css">
</head>

<body>
  <div id="app">
    <p>検証テスト</p>
    <hr>
    <p>
      <h4>数字のみ且つ文字数制限10 v-validate="'numeric|max:10'"</h4>
      <input :class="{ required: errors.has('num01') }" v-validate="'numeric|max:10'" type="text" name="num01">
      <br>
      <span :class="{ errTxt: errors.has('num01') }" v-if="errors.has('num01')" v-cloak>{{ errors.first('num01') }}</span>
    </p>
    <hr>
    <p>
      <h4>数字のみ且つ数値10以下 v-validate="'numeric|max:10'"</h4>
      <input :class="{ required: errors.has('num02') }" v-validate="'max_value:10'" type="text" name="num02">
      <br>
      <span :class="{ errTxt: errors.has('num02') }" v-if="errors.has('num02')" v-cloak>{{ errors.first('num02') }}</span>
    </p>
    <hr>
    <p>
        <h4>アルファベット且つ必須項目 v-validate="'required|alpha'"</h4>
        <input :class="{ required: errors.has('num03') }" v-validate="'required|alpha'" type="text" name="num03">
        <br>
        <span :class="{ errTxt: errors.has('num03') }" v-if="errors.has('num03')" v-cloak>{{ errors.first('num03') }}</span>
      </p>
      <hr>
      <p>
        <h4>英数字とハイフン、アンダースコアのみ v-validate="'alpha_dash'"</h4>
        <input :class="{ required: errors.has('num04') }" v-validate="'alpha_dash'" type="text" name="num04">
        <br>
        <span :class="{ errTxt: errors.has('num04') }" v-if="errors.has('num04')" v-cloak>{{ errors.first('num04') }}</span>
      </p>
      <hr>
      <p>
        <h4>英数字のみ  v-validate="'alpha_num'"</h4>
        <input :class="{ required: errors.has('num05') }" v-validate="'alpha_num'" type="text" name="num05">
        <br>
        <span :class="{ errTxt: errors.has('num05') }" v-if="errors.has('num05')" v-cloak>{{ errors.first('num05') }}</span>
      </p>
      <hr>
      <p>
        <h4>アルファベットと空白のみ  v-validate="'alpha_spaces'"</h4>
        <input :class="{ required: errors.has('num06') }" v-validate="'alpha_spaces'" type="text" name="num06">
        <br>
        <span :class="{ errTxt: errors.has('num06') }" v-if="errors.has('num06')" v-cloak>{{ errors.first('num06') }}</span>
      </p>
      <hr>
      <p>
        <h4>カタカナのみ  v-validate="'regex:^([ァ-ヴ][ァ-ヴー・]*)$'"</h4>
        <input :class="{ required: errors.has('num07') }" v-validate="'regex:^([ァ-ヴ][ァ-ヴー・]*)$'" type="text" name="num07">
        <br>
        <span :class="{ errTxt: errors.has('num07') }" v-if="errors.has('num07')" v-cloak>{{ errors.first('num07') }}</span>
      </p>
      <hr>
      <p>
        <h4>data-vv-as  エラー表示に使われるフィールド名を変更 </h4>
        <input :class="{ required: errors.has('vvNum01') }" v-validate="'alpha'" data-vv-as="山田" type="text" name="vvNum01" >
        <br>
        <span :class="{ errTxt: errors.has('vvNum01') }" v-if="errors.has('vvNum01')">{{ errors.first('vvNum01') }}</span>
      </p>
      <hr>
      <p>
        <h4>data-vv-name  検証等に使われるフィールド名を変更 </h4>
        <input :class="{ required: errors.has('鈴木') }" v-validate="'alpha'" data-vv-name="鈴木" type="text" name="vvNum02" >
        <br>
        <span :class="{ errTxt: errors.has('鈴木') }" v-if="errors.has('鈴木')">{{ errors.first('鈴木') }}</span>
      </p>
      <hr>
      <p>
        <h4>オリジナルメッセージに変更 </h4>
        <input :class="{ required: errors.has('vvNum03') }" v-validate="'alpha'" type="text" name="vvNum03" >
        <br>
        <span :class="{ errTxt: errors.has('vvNum03') }" v-if="errors.has('vvNum03')">アルファベットのみ使用してください！！！（オリジナルメッセージです）</span>
      </p>
      <hr>
      <p style="font-size:16px; margin-top:20px;">もっと多い検証項目はここに参考してください</p>
      <a href="https://baianat.github.io/vee-validate/guide/rules.html" target="_blank">https://baianat.github.io/vee-validate/guide/rules.html</a>
    </div>
  </div>
  <script type="text/javascript" src="assets/js/vendor.build.js"></script>
  <script type="text/javascript" src="assets/js/index.build.js"></script>
</body>

</html>